/* Navbar */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.logo {
  height: 60px;
  margin: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav {
  font-weight: bolder;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(0, 255, 255, 0.349);
  backdrop-filter: blur(1rem);
  transition: left 0.3s ease;
}

.primary-nav li {
  margin: 0;
  padding-bottom: 10px;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-nav {
    background: hsl(0 0% 100/0.1);
    backdrop-filter: blur(1rem);
  }
}

.primary-nav a {
  text-decoration: none;
  color: #fff;
  transition: background-color 0.0s, color 0.3s, transform 0.3s;
}

.primary-nav span{
  position: relative;
  bottom: 3px;
}

.primary-nav a:hover {
  color: #bd1212;
}

.navicon {
  position: relative;
  top: 8px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

/* Sliding navbar */
.primary-nav.slid-out {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px; /* Adjusted width to only show icons */
  transform: translateX(0);
  transition: transform 0.3s ease;
  flex-direction: column;
  padding: 9rem 0;
  background: rgb(69 67 67 / 33%);
}

.primary-nav.slid-out.visible {
  background: none;
  backdrop-filter: none;
}

.primary-nav.slid-out a{
  width: 250px;
  display: flex;
  position: relative;
  gap: 27px;
  flex-direction: row-reverse;
  left: -200px;
  transition: 0.2s;
}

.primary-nav.slid-out a img{
  height: 40px;
  width: 40px;
}

.primary-nav.slid-out a span {
  position: relative;
  padding-left: 10px;
  top: 16px;
}

.primary-nav.slid-out :hover a{
  color: rgb(241, 241, 241);
  font-size: 20px;
  left: -10px;
  background: hsl(0 0% 100/0.1);
  backdrop-filter: blur(1rem);
  padding-bottom: 18px;
}




/* Media queries */
@media (max-width: 1207px) {
  .profile-image {
    width: 300px;
  }

  .primary-nav {
    font-size: 17px;
    --gap: 2rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url(./icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./icon-close.svg);
  }

  /* Hide clouds 8-18 on mobile */
  #cloud8,
  #cloud9,
  #cloud10,
  #cloud11,
  #cloud12,
  #cloud13,
  #cloud14,
  #cloud15,
  #cloud16,
  #cloud17,
  #cloud18 {
    display: none;
  }
}

@media (min-width: 1207px) {
  .primary-nav {
    --gap: clamp(1rem, 5vw, 2.5rem);
    padding-block: 1rem;
    padding-inline: clamp(0.5rem, 10vw, 10rem);
  }

  .primary-nav.slid-out {
    padding-inline: 1rem;
  }
}
